<!--<h1>Testing</h1>
<hr>-->
<div class=container>
<%= render 'shared/title', title: "Welcome to the Message Board" %>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "All Posts", posts_path %></li>
  <li role="presentation"><%= link_to "My Posts & Comments", user_path(current_user) %></li>
</ul><br>

	<% @posts.each do |post| %>
		<div class="row">
			<div class="well col-md-6" >
				<h4><%= post.title %></h4>
				<p><%= post.content %></p>
				<span>
				<%= link_to "show post", post_path(post) %>
				</span>
			</div>
		</div>
	<% end %>
<% if logged_in? %>
<%= link_to "create new post", new_post_path %>
<% end %>
</div>
