<!--<h1>Show Page</h1>
<hr>-->

<div class ="container">
<%= render 'shared/title', title: "#{@post.title}"%>
  <div class =row>
    <div class="col-md-8 well">
      <%= render partial: "categories/category", collection: @post.categories %>
      <h3><%= @post.title%></h3>
      <p>
        <%= @post.content%>
      </p>
      <br>
      <small>posted by </small><%= " #{@post.user.name}" %>
    </div>
  </div>

<h4>All Comments:</h4>

<% @comments.each do |comment| %>
  <div class="row">
   <div class='col-md-1 well text-center'>
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(@post, comment, vote: true), class: "btn btn-primary btn-block text-center", method: 'post' do %>
          Like
        <% end %>
        <%= link_to vote_post_comment_path(@post, comment, vote: false), class: "btn btn-danger btn-block text-center", method: 'post' do %>
          Hate
        <% end %>
      <% end %>
    <% if comment.total_votes>=0 %>
      <%= comment.total_votes %> Likes
    <% else %>
      <%= comment.total_votes*-1 %> Hates
    <% end %>
    </div>
    <div class="col-md-6 well">
      <p>
        <%= comment.content %>
      </p>
      <br><br>
      <small>commented by </small><%= "#{comment.user.name}" %>
    </div>
  </div>
<% end %>


<% if logged_in? %>
  <h4>Leave a comment:</h4>
  <%= form_for [@post, @comment] do |f| %>  
    <div class="row">
      <%= f.text_area :content, rows: 3, class: 'col-md-4',required: true %>
        <div class="col-md-2">
          <p><%= f.submit 'Create Comment', class: 'btn btn-success btn-md' %></p>
          <p><%= f.submit 'Clear Comment', :type => "reset", class: 'btn btn-danger btn-md' %></p>
        </div>
    </div>
  <% end %>
<% end %>
<p><%= link_to 'go back to all posts', posts_path %></p>

</div>